<h3 class="ui header">{{t "forms.i-i-s-proekt3-оценка-e.caption"}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button class="ui button save-button" {{action "save"}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button class="ui button save-del-button" {{action "delete"}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button class="ui button close-button" {{action "close"}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field flexberry-validationsummary-container">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-proekt3-оценка-e.датаПроведения-caption"}}</label>
    {{flexberry-simpledatetime
      type="date"
      readonly=readonly
      value=model.датаПроведения
      class=(if (v-get validationModel "датаПроведения" "isInvalid") "error")
      data-test-i-i-s-proekt3-оценка-e-датаПроведения=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "датаПроведения" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-proekt3-оценка-e.сотрудники-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.сотрудники
      displayAttributeName="фИО"
      autocomplete=true
      relationName="сотрудники"
      projection="СотрудникиL"
      title=(t "forms.i-i-s-proekt3-оценка-e.сотрудники-caption")
      readonly=readonly
      componentName="сотрудникиLookup"
      class=(if (v-get validationModel "сотрудники" "isInvalid") "error")
      data-test-i-i-s-proekt3-оценка-e-сотрудники=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "сотрудники" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=true
      value=model.сотрудники.должность
      class=(if (v-get validationModel.сотрудники "должность" "isInvalid") "error")
      label=(t "forms.i-i-s-proekt3-оценка-e.сотрудники.должность-caption")
      data-test-i-i-s-proekt3-оценка-e-сотрудники-должность=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel.сотрудники "должность" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=true
      value=model.сотрудники.ранг
      class=(if (v-get validationModel.сотрудники "ранг" "isInvalid") "error")
      label=(t "forms.i-i-s-proekt3-оценка-e.сотрудники.ранг-caption")
      data-test-i-i-s-proekt3-оценка-e-сотрудники-ранг=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel.сотрудники "ранг" "message")}}
  </div>
  <div class="field" data-test-i-i-s-proekt3-оценка-e-статус="true">
    <label>{{t "forms.i-i-s-proekt3-оценка-e.статус-caption"}}</label>
    {{flexberry-dropdown
      items=(flexberry-enum "i-i-s-proekt3-статусы")
      value=model.статус
      class=(if (v-get validationModel "статус" "isInvalid") "error")
      readonly=readonly
    }}
    {{flexberry-validationmessage error=(v-get validationModel "статус" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.комментарий
      class=(if (v-get validationModel "комментарий" "isInvalid") "error")
      label=(t "forms.i-i-s-proekt3-оценка-e.комментарий-caption")
      data-test-i-i-s-proekt3-оценка-e-комментарий=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "комментарий" "message")}}
  </div>
</form>
